@import url(fireworks.css);

:root {
    --primary-font: 'Montserrat', sans-serif;
    --background-color: #404258;
    --primary-color: #474E68;
    --secondary-color: #50577A;
    --tertiary-color: #6B728E;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: 16px;
}

body {
    background: linear-gradient(#0007, #0000),#123;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--white-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 5rem;
    font-weight: 400;
}

.subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2rem;
}

.message {
    font-size: 1.75rem;
    font-weight: 200;
    margin-top: 3rem;
}

.text-shadow {
    text-shadow: 0 0 10px var(--white-color);
}

.icon {
    margin: 0 0.5rem;
}

#play-again {
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: 2px solid var(--white-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
}

#play-again:hover {
    background-color: var(--white-color);
    color: var(--tertiary-color);
}

.box {
    display: inline-block;
    background-color: var(--primary-color);
    font-size: 4em;
    padding: 2rem;
    margin: 2rem;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 0 0 2rem var(--tertiary-color);
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 1rem;
    }

    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .message {
        font-size: 1.5rem;
    }
    #play-again {
        font-size: 1.25rem;
    }
    .box {
        font-size: 2.5rem;
        padding: 1rem;
    }
}